.portfolio {
  margin: 0 auto;
  width: calc(100% - 36px);
  padding: 0 18px 70px;
  background-color: #202020;
}

.portfolio__title {
  margin: 0 0 40px;
  padding: 0;
  color: #A0A0A0;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.project__link {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  transition: opacity .3s linear;
  cursor: pointer;
}

.project__title {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
  letter-spacing: -0.72px;
}

.project__arrow-icon {
  width: 14px;
  height: 24px;
}

.project__link:hover, .project__link:hover {
    opacity: .8;
  }

.project__divider {
  border: 1px solid #e6e6e6;
  margin-top: 19px;
}

@media screen and (min-width: 768px) {
  .portfolio {
    width: calc(100% - 100px);
    padding: 0 50px 90px;
  }

  .portfolio__title {
    margin: 0 0 50px;
    width: 250px;
    font-size: 18px;
  }

  .project__title {
    font-size: 28px;
    line-height: 50px;
    letter-spacing: -1.12px;
  }

  .project__arrow-icon {
    width: 19px;
    height: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .portfolio {
    width: calc(100% - 140px);
    padding: 0 70px 125px;
  }

  .portfolio__title {
    margin: 0 0 50px;
    width: 250px;
    font-size: 18px;
  }

  .project__title {
    font-size: 30px;
    letter-spacing: -1.2px;
  }

  .project__divider {
    border: 1px solid #e6e6e6;
    margin-top: 20px;
  }

  .project__arrow-icon {
    width: 21px;
  }
}
