.header-separator {
  margin: 0 auto;
  width: calc(100% - 36px);
  background-color: #073042;
  padding: 70px 18px 60px;
}

.header-separator__hr {
    border-bottom: 1px solid #DADADA;; 
    margin: 28px;
}

.header-separator__title {
  width: 284px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
}
