.title-separator {
  margin: 0 auto;
  padding: 70px 0 0;
}

.title-separator__divider {
  border: 1px solid #dadada;
  margin: 28px 0 0;
}

.title-separator__text {
  margin: 0;
  padding: 0;
  width: 284px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
}

@media screen and (min-width: 768px) {
  .title-separator {
    padding: 90px 0 0;
  }

  .title-separator__divider {
    border: 1px solid #dadada;
    margin: 24px 0 0;
  }

  .title-separator__text {
    width: 600px;
    font-size: 22px;
  }
  
  .title-separator__hr {
    margin-top: 23px;
  }
}

@media screen and (min-width: 1280px) {
  .title-separator {
    padding: 110px 0 0;
  }
}
