.search__container {
  display: flex;
  align-items: center;
  height: 72px;
  border-radius: 9px;
  background-color: #2f2f2f;
  margin-bottom: 45px;
}

.search__form {
  width: 100%;
  padding: 0 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search__form-input::placeholder {
  color: #8b8b8b;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.search__form-input {
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
}

.search__form-button {
  margin-left: 21.35px;
  width: 58.65px;
  height: 34px;
  border-radius: 48px;
  border: 1px solid #4285f4;
  background-color: #4285f4;
  color: #fff;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.search__form-icon {
  display: none;
}

.search__form-divider {
  display: none;
}

.search__form-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (min-width: 768px) {

  .search__form {
 
    }


  .search__form-icon {
    margin-right: 10px;
    display: block;
    width: 15px;
height: 15px;
  }
  
  .search__form-divider {
    display: block;
    border: 1px solid grey;
    transform: rotate(90deg);
    width: 42px;
  }

  .search__form-button {
    margin-left: auto;
    }
}

@media screen and (min-width: 1280px) {
  .search__form {
    
  }

 
}
