.menu {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  right: -80%;
  /* transition: right 0 ease-in-out; */
  background-color: #202020;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 99;
}

.menu::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 32.3%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); 
  z-index: 98; 
  /* transition: opacity 0.3s ease-in-out; */
  opacity: 0; 
}

.menu_active {
  right: 0;
}


.menu__close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 24.4px;
  right: 24.4px;
}

.menu__content {
  margin-top: 105.44px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202020;
  
}

.menu__footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .menu {
    width: 67.7%;
  }

  .menu_active::before {
    opacity: 1; 
  }

}

@media screen and (min-width: 1280px) {
  .menu {
    display: none;
  }
}
