.teach {
  margin: 0 auto;
  width: calc(100% - 36px);
  padding: 0 18px 69px;
  background-color: #202020;
}

.teach__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 56px;
  margin-bottom: 60px;
}

.teach__info-title {
  margin: 0 0 16px;
  padding: 0;
  width: 284px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
}

.teach__info-subtitle {
  margin: 0;
  padding: 0;
  width: 284px;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.teach__stripe {
  display: flex;
  height: 35px;
  width: 100%;
}

.teach__stripe-color {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
}

.teach__stripe-color_green {
  width: 35.21%;
  background-color: #3ddc84;
}

.teach__stripe-color_black {
  width: 64.79%;
  background-color: #303030;
}

.teach__stripe-text {
  margin: 0;
  padding: 0;
  width: 80px;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.teach__stripe-text-black {
  color: #000;
}

.teach__stripe-text-white {
  color: #fff;
}

.teach__technology-stack {
  display: flex;
  margin-top: 10px;
  width: 100%;
}

.teach__technology-stack-text {
  width: 80px;
  margin: 0 52px 0 10px;
  color: #a0a0a0;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 768px) {
  .teach {
    width: calc(100% - 100px);
    padding: 0 50px 90px;
  }

  .teach__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 60px;
    row-gap: 22px;
  }

  .teach__info-title {
    width: 319px;
    font-size: 20px;
    letter-spacing: -0.8px;
  }

  .teach__info-subtitle {
    width: 319px;
    font-size: 12px;
    line-height: 18px;
  }

  .teach__stripe-color {
    height: 36px;
  }

  .teach__stripe-color_green {
    width: 20.958%;
  }
  
  .teach__stripe-color_black {
    width: 79.04%;
  }
  
  .teach__stripe-text {
    width: 120px;
    font-size: 14px;
  }

  .teach__technology-stack {
    margin-top: 14px;
  }
  
  .teach__technology-stack-text {
    width: 120px;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 204px;
  }
}

@media screen and (min-width: 1280px) {
  .teach {
    width: calc(100% - 140px);
    padding: 0 70px 110px;
    margin-bottom: 110px;
  }

  .teach__info-title {
    width: 550px;
  }

  .teach__info-subtitle {
    width: 550px;
    font-size: 14px;
    line-height: 20px;
  }

  .teach__info {
    row-gap: 26px;
    margin-bottom: 110px;
  }

  .teach__technology-stack-text {
    width: 200px;
    margin-left: 14px;
    margin-right: 356px;
  }
}
